html
    head
        script(src="/javascript/jquery.js")
        script(src="/javascript/bootstrap.min.js")
        script(src="/javascript/main.js")
        link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        div(class="container login-box")
            h1 Welcome
            h1 To The Future!
            br
            form(class="form-group", action="/", method="post")
                label Username
                input(class="form-control", type="text", name="username", placeholder="Enter Username")
                br
                label Password
                input(class="form-control", type="text", name="password", placeholder="Enter Password")
                br
                input(class="btn btn-default", type="submit", value="Login")